#!/bin/sh
# Copyright (C) 2016 Wesley Tanaka

case $1 in
   start)
      {{kafka_install_dir}}/bin/kafka-server-start.sh \
         {{kafka_install_dir}}/config/{{item.config_filename}} 2>&1 > \
         {{item.log_filename}} &
      echo $! > {{item.pid_filename}};
      ;;
    stop)  
      kill `cat {{item.pid_filename}}`
      ;;
    *)  
      echo "usage: kafka {start|stop}" ;;
esac
exit 0
