#!/bin/sh
# Copyright (C) 2016 Wesley Tanaka

case $1 in
   start)
      echo $$ > {{item.pid_filename}};
      exec 2>&1 {{kafka_install_dir}}/bin/kafka-server-start.sh \
         {{kafka_install_dir}}/config/{{item.config_filename}} > \
         {{item.log_filename}}
      ;;
    stop)  
      kill `cat /var/run/{{item.pid_filename}}`
      ;;
    *)  
      echo "usage: kafka {start|stop}" ;;
esac
exit 0
