check process {{item.init_wrapper_filename}} with pidfile {{item.pid_filename}}
  start program = "/etc/init.d/{{item.init_wrapper_filename}} start"
    as uid {{kafka_user}}
  stop program = "/etc/init.d/{{item.init_wrapper_filename}} stop"
    as uid {{kafka_user}}
