# broker.id must be different for each broker
broker.id={{item.broker_id}}
listeners={{item.listeners}}
# A comma seperated list of directories under which to store log files
log.dirs=/tmp/kafka-logs-{{item.broker_id}}
{% if kafka_delete_topic_enable is defined %}
delete.topic.enable={{kafka_delete_topic_enable}}
{% endif %}
{% for config_key, config_value in kafka_config_contents.iteritems() %}
{{config_key}}={{config_value}}
{% endfor %}
{% for config_key, config_value in kafka_more_config.iteritems() %}
{{config_key}}={{config_value}}
{% endfor %}
