# broker.id must be different for each broker
{% if 'broker_id' in item %}
broker.id={{item.broker_id}}
{% endif %}
{% if 'listeners' in item %}
listeners={{item.listeners}}
{% endif %}
# A comma seperated list of directories under which to store log files
log.dirs={%if 'log_dirs' in item%}{{item.log_dirs}}{%else%}{{kafka_default_topic_log_directory_prefix}}kafka-logs-{{item.broker_id}}{%endif%}

{% if kafka_delete_topic_enable is defined %}
delete.topic.enable={{kafka_delete_topic_enable}}
{% endif %}
{% for config_key, config_value in (kafka_config_contents.items() | list) %}
{{config_key}}={{config_value}}
{% endfor %}
{% for config_key, config_value in (kafka_more_config.items() | list) %}
{{config_key}}={{config_value}}
{% endfor %}
