#!/bin/sh
# Copyright (C) 2016 Wesley Tanaka

case $1 in
   start)
      {{kafka_install_dir}}/bin/zookeeper-server-start.sh \
         {{kafka_install_dir}}/config/zookeeper.properties 2>&1 > \
         /var/log/zookeeper.out &
      echo $! > /var/run/zookeeper.pid;
      ;;
    stop)  
      kill `cat /var/run/zookeeper.pid`
      ;;
    *)  
      echo "usage: zookeeper {start|stop}" ;;
esac
exit 0
